

// Sidebar

// Transitions
#wrapper,
#sidebar-wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#menu-toggle,
#menu-toggle span,
.bottom-widget a i {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


#wrapper {  padding-left: 0;  }
#wrapper.toggled {  padding-right: 300px;  }
#sidebar-wrapper {
  z-index: 901;
  position: fixed;
  right: 300px;
  top: 0;
  width: 0;
  height: 100%;
  margin-right: -300px;
  overflow-y: auto;
  background: $color13;
}
#wrapper.toggled #sidebar-wrapper {  width: 300px;  }
#page-content-wrapper {
  width: 100%;
  position: absolute;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-left: -300px;
}


/* Sidebar Styles */
.sidebar-nav {
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-indent: 40px;
    line-height: 30px;
    padding: 0 20px;
    a {
      display: block;
      text-decoration: none;
      color: #999999;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: $font-accident-one-normal;
      font-weight: 500;
      &:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255,255,255,0.1);
      }
      &:active, &:focus {  text-decoration: none;  }
    }
    a.current {  color: $color00;  }
  }
  > .sidebar-brand {
    text-align: center;
    text-indent: 0;
    width: 300px;
    a {
      font-size: 32px;
      margin-top: 39px;
      line-height: 60px;
      color: $color00;
      text-transform: uppercase;
      span {font-size: 100px;}
      &:hover {
        color: #fff;
        background: none;
      }
    }
  }
}

#menu-toggle {
  position: fixed;
  width: 50px;
  height: 50px;
  background: rgba(100, 100, 100, .15);
  text-align: center;
  top: 0px;
  right: 0px;
  z-index: 20000;
  color: $color05;
  cursor: pointer;
  span {
    top: -1px;
    left: 10px;
    position: absolute;
    font-size: 32px;
    font-family: Pe-icon-7-stroke;
    &:before {content: "\e6af"; }
  }
}
.toggled #menu-toggle {
  color: $color05;
  span {
    font-family: Pe-icon-7-stroke;
    &:before { content: "\e6af";}
  }
}
.side-widget {
  color: $color04;
  padding: 20px 60px;
  width: 300px;
  input {
    background-color: $color10;
    border: none;
    color: $color04;
  }
}
.bottom-widget {
  background: $color13;
  position: absolute;
  width: 300px;
  bottom: 0;
  padding: 60px;
  color: $color00;
  a {
    i {  font-size: 21px;  }
    &:hover i {color: $color01;}
  }
}

.cbp-af-header.toggled {  padding-right: 300px;  }

@media (max-width:1200px) {  }

@media (max-width: 768px) {  }

@media (min-width:992px) {
  #wrapper {  padding-right: 300px;  }
  #wrapper.toggled {  padding-right: 0;  }
  #sidebar-wrapper {  width: 300px;  }
  #wrapper.toggled #sidebar-wrapper {  width: 0;  }
  #page-content-wrapper {  position: relative;  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0;
  }
}

@media (max-width:992px) {
  .cbp-af-header {  padding-right: 0px;  }
  .cbp-af-header.toggled {  padding-right: 0;  }
  #wrapper {  padding-right: 0px;  }
  #wrapper.toggled {  padding-right: 0;  }
  #sidebar-wrapper {  width: 0px;  }
  #wrapper.toggled #sidebar-wrapper {  width: 0;  }
  #menu-toggle {  opacity: 0;  }
}