@model CibusMVC.Models.Restaurante

    <title>Entrar</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" />



    <div>
        <img  src="~/assets/custom/images/logo01.png" style="margin-left:38.5em; height:300px; width:300px;" />
    </div>

    <div id="login">
        <form id="form1">
            <span class="fontawesome-user">  </span>
            <h2 style="margin-left:9.2em">USUARIO:</h2>

            <asp:TextBox ID="txtUser" Height="37px" Width="280px"></asp:TextBox>
            
            <span class="fontawesome-lock"></span>
            <h2 style="margin-left:7em">CONTRASEÑA:</h2>
            <%--  --%>
            <asp:TextBox ID="txtPassword" Height="37px" Width="280px" TextMode="Password"></asp:TextBox>


            <br />
            <br />


            <Button ID="btnEntrar" ru Height="37px" OnClick="btnEntrar_Click1" Text="Entrar" Width="311px" />
        </form>
    </div>
