@model CibusMVC.Models.Pedido

@{
    ViewBag.Title = "Completado";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div style="margin:3em; margin-top:8em">
    <h2>Orden Generada exitosamente.</h2>
    <hr style="border-color: Highlight;border-width:0.5em; " />

    <p>
        Gracias por su pedido! El numero de su pedido es: @Model.IdPedido
    </p>
    <p>
        Que le pareceria hacer otra orden
        @Html.ActionLink("Usando Cibus",
"Index", "Restaurantes")
    </p>

    
    <hr style="border-color: Highlight;border-width:0.5em; " />

 </div> 