@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<h2>Error</h2>

<p>
    Lo sentimos, encontramos un error inesperado.
    <a href="javascript:history.go(-1)">Haga Click Aqui.</a>
    si quisiera ir hacia atras e intentarlo otra vez.
</p>

